@page
<html>

<head>
    <title>SWA - Compulsory Assignment #2</title>

    <meta charset="UTF-8">
    <meta name="author" content="Alin-Stefan Olaru">
    <meta name="author" content="David Michael Weis">
    <meta name="description" content="An employee 'tracking' system">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#222">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script language="javascript" src="~/lib/angular/angular.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body ng-app="employeeListApp" ng-controller="EmployeeListController">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">SWA Assignment</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#">Add Employee</a>
                </li>
                <li class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <button class="btn btn-sm align-middle btn-outline-secondary" ng-click="loadMoreUsersOnServer()">Load new users</button>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <span class="invalid-feedback" id="status-invalid" style="margin-right: 20px">
                    No data!
                </span>
                <input ng-model="filterText" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search">
            </form>
        </div>
    </nav>
    <table ng-init="loadData()" class="table table-sm table-striped table-inverse">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-Mail</th>
                <th>Address</th>
                <th>Salary</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employees | filterEmployees:filterText">
                <td>
                    <div style="width:40px; height:40px;background:url('{{employee.picture}}');background-size: 100%; background-repeat:no-repeat;"></div>
                </td>
                <td>{{employee.name.firstName}} {{employee.name.lastName}}</td>
                <td><a href="tel:{{employee.phone}}">{{employee.phone}}</a></td>
                <td><a href="mailto:{{employee.email}}">{{employee.email}}</a></td>
                <td><img ng-src="{{getFlagUrl(employee.nationality)}}" style='height:20px;'> {{employee.address.postcode}} {{employee.address.city}} {{employee.address.state}} {{employee.address.street}}</td>
                <td>${{employee.salary}}</td>
                <td><button class="btn btn-danger" ng-click="removeEmployee(employee.id)">Remove</button></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="text-center">Total Salaries: ${{totalSalary()}}, Employee count: {{employees.length}}</td>
            </tr>
        </tfoot>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="addUserForm">
                        <span style="color:red" ng-show="fieldValidation('username')">Username is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Username*</span>
                            <input ng-model="user.login.username" name="username" type="text" class="form-control" placeholder="Enter Username" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('fistname')">First Name is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">First Name*</span>
                            <input ng-model="user.name.first" name="fistname" type="text" class="form-control" placeholder="Enter First Name" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('lastname')">Last Name is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Last Name*</span>
                            <input ng-model="user.name.last" name="lastname" type="text" class="form-control" placeholder="Enter Last Name" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('email')">Email is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Email*</span>
                            <input ng-model="user.email" name="email" type="email" class="form-control" id="input-email" placeholder="Enter Email" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('phone')">Phone Number is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Phone Number*</span>
                            <input ng-model="user.phone" name="phone" type="text" class="form-control" id="input-phone" placeholder="Enter Phone Number" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('city')">City is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">City*</span>
                            <input ng-model="user.location.city" name="city" type="text" class="form-control" id="input-city" placeholder="Enter City" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('postcode')">Postcode is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Postcode*</span>
                            <input ng-model="user.location.postcode" name="postcode" type="text" class="form-control" id="input-postcode" placeholder="Enter Postcode" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('state')">State is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">State*</span>
                            <input ng-model="user.location.state" name="state" type="text" class="form-control" id="input-state" placeholder="Enter State" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('street')">Street is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Street*</span>
                            <input ng-model="user.location.street" name="street" type="text" class="form-control" id="input-street" placeholder="Enter Street" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('picture')">Picture URL is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Picture URL*</span>
                            <input ng-model="user.picture.large" name="picture" type="text" class="form-control" id="input-picture" placeholder="Enter Picture URL" required>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('nat')">Nationality is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Nationality*</span>
                            <select class="form-control" name="nat" id="input-nat" ng-model="user.nat" required>
                                <option>DK</option>
                                <option>GB</option>
                                <option>SK</option>
                                <option>RO</option>
                            </select>
                        </div>
                        <span style="color:red" ng-show="fieldValidation('salary')">Salary is required.</span>
                        <div class="input-group">
                            <span class="input-group-addon">Salary*</span>
                            <input ng-model="user.salary" name="salary" type="number" class="form-control" id="input-salary" placeholder="Enter Salary" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="addUserForm.$invalid" ng-click="addEmployee(user)" disabled>Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
